body, #content {
    font-family: sans-serif;
    background-color: black;
    overscroll-behavior: none;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    color: white;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}