body, #content {
    font-family: sans-serif;
    background-color: black;
    overscroll-behavior: none;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    color: white;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

button {
    cursor: pointer;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: rgb(23, 142, 240);
    color: white;
    border: none;
}

button:hover {
    background-color: rgb(12, 155, 217);
}

button:disabled,button:disabled:hover {
    background-color: grey;
    cursor: default;
}